
<div class="row">
    <div class="col-md-12" ng-hide="report_complete">
            
                <h2>Sugestão:</h2>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-weight:600;">{{report.name}}</h3>
                        {{report.username}}
                    </div>
                    <div class="panel-body">
                        {{report.text}}
                    </div>
                    <div class="panel-footer" >
                    {{report.reported}}
                    </div>
                </div>

                <br>
                <a href="#/admin" class="btn btn-primary btn-lg">Voltar</a>
            
    </div>
</div>