<ol class="breadcrumb">
    <li><a href="#/">Shelf</a></li>
    <!--
        DROPDOWN PARA VARIOS CURSOS
    -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" ng-click="changeDegree('leti')" ng-show="showDegree('leti')">
            LETI <b class="caret"></b>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" ng-click="changeDegree('meti')" ng-show="showDegree('meti')">
            METI <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#/" ng-click="changeDegree('meti')" ng-show="showDegree('leti')">METI</a></li>
            <li><a href="#/" ng-click="changeDegree('leti')" ng-show="showDegree('meti')">LETI</a></li>
        </ul>
    </li>
</ol>

<div id="intro" class="jumbotron">
    <h1>Shelf 2.0 Beta</h1>
    <p>O SHELF está de volta e melhor do que nunca. Este é o maior repositório de material de estudo do Instituto Superior Técnico. Desde testes a apontamentos, aqui vais poder encontrar de tudo um pouco. E se não encontrares, podes sempre ser tu a contribuir! <br>Neste momento ainda estamos a experimentar esta nova plataforma, portanto, se vires algum bug ou erro, avisa-nos! O material está a ser carregado aos poucos, portanto todos os dias deves ter material novo, até estarmos a 100%.
    </p>
    <p><a class="btn btn-primary" href="javascript:document.getElementById('intro').remove();" role="button">Fechar</a></p>
</div>

<ul class="list-group cadeira" ng-hide="otherCourses">
    <a ng-repeat="course in courses | orderBy:'name'" class="list-group-item" ng-href="#/course/{{course.acronym}}">
        <span class="label label-primary">{{course.acronym}}</span>
        {{course.name}}
    </a>
</ul>

<ul class="list-group" ng-hide="otherCourses">
    <a ng-click="otherCourses=true" class="list-group-item">
        Outras cadeiras
    </a>
</ul>

<ul class="list-group cadeira" ng-show="showLeti(otherCourses)">
    <a ng-repeat="course in letiCourses | orderBy:'name'" class="list-group-item" href="#/course/{{course.acronym}}">
        <span class="label label-primary">{{course.acronym}}</span>
        {{course.name}}
    </a>
</ul>   

<ul class="list-group cadeira" ng-show="showMeti(otherCourses)">
    <a ng-repeat="course in metiCourses | orderBy:'name'" class="list-group-item" href="#/course/{{course.acronym}}">
        <span class="label label-primary">{{course.acronym}}</span>
        {{course.name}}
    </a>
</ul>