<!DOCTYPE html>
<html lang="pt" ng-app="preview" ng-controller="preview">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{content.course}} - {{content.title}}</title>
    <link rel="stylesheet" href="/css/theme.min.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/shelf.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Work+Sans:300,400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" type="text/css" href="http://photoswipe.s3.amazonaws.com/pswp/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="http://photoswipe.s3.amazonaws.com/pswp/dist/default-skin/default-skin.css">

</head>
<body style="padding-top:50px; overflow: hidden;">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Non-collapsing right-side icons -->
        <ul class="nav navbar-nav" style="position:absolute; right:0; padding:0; margin:0">
            <li ng-hide="content.type=='images' || content.type=='other'">
                <a style="height:50px; padding-top:16px;" ng-href="{{download_url}}"><span class="glyphicon glyphicon-cloud-download"></span></a>
            </li>
            <li>
                <a style="height:50px; padding-top:16px;" href="javascript:window.history.back();"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
        </ul>

        <div class="navbar-header">
            <p class="pull-left">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                {{content.title}}
            </p>
        </div>

    </div>
</nav>


<div class="container-fluid preview" ng-class="{'white' : content.type=='other'}">
    <div class="row preview" ng-class="{'white' : content.type=='other'}">
        <div class="col-md-12 col-lg-12 preview" style="padding:0" ng-class="{'white' : content.type=='other'}">
           
           <div ng-switch="content.type" style="height:100%">

                <div ng-switch-when="application/pdf" style="height:100%; background:#fff;">
                    <iframe ng-src="{{trustSrc(content.filename)}}" width="100%" height="100%" frameborder="0"></iframe>
                </div>

                <div ng-switch-when="images" style="height:100%;">

                    <style>
                    .viewer{width:100%; min-height: calc(100% - 100px); max-height: calc(100% - 100px); margin-top:10px; }
                    .viewer img{ display:none; max-width: 100%; max-height: 100%; margin: 0 auto auto; width:auto; height:auto; }
                    .browser{ text-align: center; display:block; height:80px; background: #000; }
                    .browser li { float: left; list-style: none; }
                    .browser li:hover{ cursor: pointer; }
                    .browser li img { width:50px; height:50px; margin:4px; } 
                    .active { border: 2px solid #07293f; }
                    .viewer iframe.show{ display:block; }


                    </style>

                    <div class="viewer">
                        <img ng-repeat="image in content.images" ng-class="{'show': isActive(image)}"  ng-src="{{image.src}}">
                    </div>
                    <div class="browser">
                        <ul>
                            <li ng-class="{'active': isActive(image)}" ng-repeat="image in content.images" ng-click="select(image)">
                                <img ng-src="{{image.src}}" />
                            </li>
                        </ul>
                    </div>

                    

                </div>

                <div ng-switch-when="other" >

                    <div style="text-align:center; width:100%; margin-top:100px">

                            <a style="width:200px; height:88px; padding:16px; font-size:50px" type="button" class="btn btn-primary btn-lg" ng-href="{{download_url}}">

                                <span class="glyphicon glyphicon-cloud-download"></span>

                            </a>
                            <br><br>
                            <p>Pre-visualização não disponível</p>

                            <i><b>{{content.title}}</b> <br> {{content.mime}}</i>

                    </div>

                </div>

           </div>

           
        </div>
    </div>
    
</div>

<script src="http://photoswipe.com/dist/photoswipe.min.js?v=4.1.1-1.0.4"></script>
<script src="http://photoswipe.com/dist/photoswipe-ui-default.min.js?v=4.1.1-1.0.4"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.min.js"></script>





<script type="text/javascript" src="/js/controllers/preview.js"></script>


</body>
</html>