<div class="row" ng-hide="view_report">
	<div class="col-md-8">
		<div class="panel panel-default">
  			<div class="panel-heading">Lista de ficheiros submetidos</div>
  			<div class="panel-body list-group">
  				<li class="list-group-item clearfix" ng-repeat="doc in docs">
					<span class="glyphicon glyphicon-file"></span> 
					<a ng-href="#/admin/docs/{{doc._id}}">{{doc.name}} - {{doc.course}} - {{doc._id}}</a>
					<span class="pull-right">
					<button class="btn btn-xs btn-success" ng-click="updateDoc(doc,0)"><span class="glyphicon glyphicon-ok"></span></button>
					<button class="btn btn-xs btn-danger" ng-click="updateDoc(doc,1)"><span class="glyphicon glyphicon-trash"></span></button>
					</span>
				</li>
			</div>
		</div>
	</div>


	<div class="col-md-4">

		<div class="panel panel-default">
		  	<div class="panel-heading">Report de Bugs</div>
		  	<div class="panel-body list-group">
				<li class="list-group-item clearfix" ng-repeat="report in reports">
					<a ng-href="#/admin/reports/{{report._id}}">{{report.username}}</a>
					<span class="pull-right">
						<button class="btn btn-xs btn-danger" ng-click="deleteReport(report)"><span class="glyphicon glyphicon-trash"></span></button>
					</span>
				</li>
			</div>
		</div>


		<div class="panel panel-default">
  			<div class="panel-heading">Admins</div>
  			<div class="panel-body list-group">
				<a class="list-group-item clearfix" ng-repeat="admin in admins">
					{{admin.username}} - {{admin.name}}
					<span class="pull-right">
						<button class="btn btn-xs btn-danger" ng-click="submitAdmin(admin,0)"><span class="glyphicon glyphicon-trash"></span></button>
					</span>
				</a>
			</div>

			<div class="panel-body list-group-item">
				<form novalidate ng-submit="submitAdmin(add,1)" >
		            <label for="input">Adicionar Admins (Tecnico ID):</label>
		            <input class="form-control" rows="1" ng-model="add.username" />
		            <br>
		            <button type="submit" class="btn btn-primary">Submeter</button>
		        </form>
		    </div>
	    </div>
	</div>
</div>

<div class="row" ng-show="view_report">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{report.name}}<br>{{report.username}} - {{report.date}}</div>
            <div class="panel-body">
                {{report.text}}
            </div>
        </div>
    </div>

</div>