<ol class="breadcrumb">
    <li><a href="#">Shelf</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            LETI <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">LEE</a></li>
            <li><a href="#">LEIC</a></li>
        </ul>
    </li>
</ol>

<div id="intro" class="jumbotron">
    <h1>Shelf</h1>
    <p>O nosso apoio aos alunos é constante, por isso, também oferecemos um respositório de material de apoio ao estudo, com mais de 70000 ficheiros, entre os quais exercicios, testes e apontamentos de todas as Unidades Curriculares do curso.</p>
    <p><a class="btn btn-primary" href="javascript:document.getElementById('intro').remove();" role="button">Fechar</a></p>
</div>

<ul class="list-group cadeira">
    <a class="list-group-item" href="cadeira.html">
        <span class="label label-primary">AR</span>
        Arquitectura de Redes
    </a>
    <a class="list-group-item" href="cadeira.html">
        <span class="label label-primary">BD</span>
        Base de Dados           
    </a>
    <a class="list-group-item" href="cadeira.html">
        <span class="label label-primary">Ges</span>
        Gestão      
    </a>
    <a class="list-group-item" href="cadeira.html">
        <span class="label label-primary">ICSE</span>
        Introdução aos Circuitos e Sistemas Electrónicos    
    </a>
    <a class="list-group-item" href="cadeira.html">
        <span class="label label-primary">PA</span> 
        Propagação e Antenas      
    </a>
</ul>

 <ul class="list-group">
    <a class="list-group-item">
        Outras cadeiras
    </a>
</ul>	