<ol class="breadcrumb">
    <li><a ng-href="#/">Shelf</a></li>
    <li>LETI</li>
    <li>{{title}}</li>
</ol>

<div id="intro" class="jumbotron hidden-xs">
    <h1>{{title}}</h1>
    {{description}}
</div>

<div class="row">
    <div class="col-md-4 col-md-push-8">  

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pesquisa</h3>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" placeholder="..." ng-model="search">
            </div>
        </div> 
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Semestre</h3>
            </div>
            <div class="panel-body">


                <div ng-dropdown-multiselect="" options="terms" selected-model="selected.terms"></div>

                
            </div>
        </div> 
       
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Conteúdos</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="type in types">
                    <input id="conte-{{$index}}" class="checkbox-custom" type="checkbox" ng-model="t" ng-change="toggleType(type)">
                    <label for="conte-{{$index}}" class="checkbox-custom-label">{{type}}</label>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Professor</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="teacher in teachers">
                    <input id="prof-{{$index}}" class="checkbox-custom" type="checkbox" ng-model="t" ng-change="toggleTeacher(teacher)">
                    <label for="prof-{{$index}}" class="checkbox-custom-label">{{teacher}}</label>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Programa</h3>
            </div>
            <div class="panel-body tags">
                <button ng-repeat="tag in tags"  type="button" ng-click="toggleTag(tag)" class="btn btn-default" data-toggle="button">{{tag}}</button>
            </div>
        </div>

    </div>

    <div class="col-md-8 col-md-pull-4">
    <div class="table-responsive">
        <table class="table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
					<th>Uploader</th>
					<th>Uploaded</th>
					<th>Semestre</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="go(doc)" ng-repeat="doc in documents | filter:filterTeacher | filter:search | filter: filterType | filter: filterTag | filter: filterTerm">
                    <td>{{doc.name}}</td>
					<td>{{doc.uploader}}</td>
					<td>{{doc.uploaded}}</td>
					<td>{{doc.academicTerm}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>