

<ol class="breadcrumb">
    <li><a href="/">Shelf</a></li>
    <li><a href="/">LETI</a></li>
    <li>Arquitectura de Redes</li>
</ol>

<div id="intro" class="jumbotron hidden-xs">
    <h1>Colabora bla bla bla</h1>
    Isto tens de enviar para aqui documentos em pdf (não é aqueles formatos mamados dos offices) e ó pois os gajos do NEETI vão ver se não mandaste gajas nuas e essas coisas e aprovam! Ajudas a malta e ficas o maior da aldeia que isto não é só vires ca na vespera do exame e não contribuis com nada, ah poooois.
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Enviar documentos</div>
            <div class="panel-body" ng-hide="uploadComplete">
                <div class="text-center">
                <button class="btn btn-default btn-lg" ngf-select="uploadFiles($files, $invalidFiles)" multiple ngf-max-height="5000" ngf-max-size="5MB">Seleccionar ficheiros</button>
                </div>

                <br>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="f in files">{{f.name}} {{f.$errorParam}}
                      <div class="progress" ng-show="f.progress >= 0">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%"  
                            ng-bind="f.progress + '%'"></div>
                      </div>
                    </li>
                    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                    </li> 
                </ul>
                {{errorMsg}}

                <div class="alert alert-warning" ng-show="alert">
                    Espera que os ficheiros sejam enviados para o Shelf antes de submeter as informações.
                </div>
                
                <br />
                <form name="uploadForm" novalidate ng-submit="submit(doc)" >
                <div class="form-group">
                    <label for="name">Nome do documento</label>
                    <input type="text" class="form-control" name="name" placeholder="Apontamentos Aula" ng-model="doc.name" required>
                    <span class="text-warning" ng-show="uploadForm.name.$error.required">Obrigatório!</span> 
                </div>
                <div class="form-group">
                    <label for="programtags">Tags da matéria</label>
                    <input type="text" class="form-control" name="programtags" placeholder="Teorema Pitágoras" ng-model="doc.tags" required>
                    <span class="text-warning" ng-show="uploadForm.programtags.$error.required">Obrigatório!</span>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label for="course">Cadeira</label>
                            <autocomplete inputrequired="required" inputname="course" type="text" inputclass="form-control" data="courses" name="course" placeholder="Ex: Gestão" ng-model="doc.course"></autocomplete>
                            <span class="text-warning" ng-show="uploadForm.course.$error.required">Obrigatório!</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="teachers">Professor</label>

                            <autocomplete inputname="teacher" type="text" inputclass="form-control" data="teachers" name="course" placeholder="Ex: João Pedro Pereira Boavida" ng-model="doc.teacher"></autocomplete>

                            <span class="text-warning" ng-show="uploadForm.teachers.$error.required">Obrigatório!</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="academicTerm">Semestre</label>
                            <select class="form-control" name="term" ng-model="doc.academicTerm">
                                <option>2015 2º Semestre</option>
                                <option>2015 1º Semestre</option>
                                <option>2014 2º Semestre</option>
                                <option>2014 1º Semestre</option>
                            </select>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submeter</button>

                </form>
          
            </div>

            <div class="panel-body" ng-show="uploadComplete">
                Obrigado por bla bla bla.<br>
                Espera pela aprovação de um administrador.
            </div>
            
        </div>
            

        <br>
        <div class="js-upload-finished">
            <h4>Histórico</h4>
            <div class="list-group"> 
                <a href="#" class="list-group-item list-group-item-danger">
                    <span class="badge alert-danger pull-right">23-11-2014</span>
                    amended-catalogue-01.xls
                </a> 
                <a href="#" class="list-group-item list-group-item-success">
                    <span class="badge alert-success pull-right">23-11-2014</span>
                    amended-catalogue-01.xls
                </a> 
                <a href="#" class="list-group-item list-group-item-success">
                    <span class="badge alert-success pull-right">23-11-2014</span>
                    amended-catalogue-01.xls
                    </a> 
                <a href="#" class="list-group-item list-group-item-success">
                    <span class="badge alert-success pull-right">23-11-2014</span>
                    amended-catalogue.xls
                </a> 
            </div>
        </div>
    </div>
</div>